<%- include('header'); -%>

<body>

    <style>
        body{ padding: 20px; }
        form { margin: 20px 0;}
        .btn { display: block; margin: 20px 0;}
        .separator-label {display: inline; color: grey;}
        .separator-div {margin: 20px 0; width: 70px; }
    </style>
    
    <div class="container-fluid">
        <h1>JSON Flattener</h1>

        <form action="/json-upload" method="post" enctype="multipart/form-data">
            <textarea name="textarea" cols="30" rows="10"></textarea>

            <div class="separator-div">
                <label class="separator-label" for="separator">Separator</label>
                <select name="separator" class="form-select" aria-label="Default select example">
                    <% separators.forEach(s => { %>
                    <option selected value=<%= s %>><%= s %></option>
                    <% }) %>
                </select>
            </div>
            

            
            <button class="btn btn-outline-primary" type="submit">Submit</button>
        </form>
    </div>
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

</body>
</html>